/Files/2017 - DJI Inspire 1/U SALESIANA FINAL.tif
/Files/2017 - DJI Inspire 1/U SALESIANA FINAL.tif.aux.xml
/Files/2017 - DJI Inspire 1/U SALESIANA FINAL.tif.ovr
/Files/2018 - DJI P4 Pro/UPS_SUR_transparent_mosaic_group1.prj
/Files/2018 - DJI P4 Pro/UPS_SUR_transparent_mosaic_group1.tfw
/Files/2018 - DJI P4 Pro/UPS_SUR_transparent_mosaic_group1.tif
/Files/2018 - DJI P4 Pro/UPS_SUR_transparent_mosaic_group1.tif.aux.xml
/Files/2018 - DJI P4 Pro/UPS_SUR_transparent_mosaic_group1.tif.ovr
/Files/2023 - DJI M3M/Mavic_3_Multispectral_Test_True_Ortho.tfw
/Files/2023 - DJI M3M/Mavic_3_Multispectral_
Test_True_Ortho.tif
/Files/2023 - DJI M3M/Mavic_3_Multispectral_Test_True_Ortho.tif.aux.xml
/Files/2023 - DJI M3M/Mavic_3_Multispectral_Test_True_Ortho.tif.ovr
/Files/2023 - DJI M3M/Mavic_3_Multispectral_Test_True_Ortho.tif.xml
/nohup.out
/mask.tif
/color_mask.png
/Files/2018 - DJI P4 Pro/project_labelling.qgz
/Files/2018 - DJI P4 Pro/U SALESIANA FINAL.tif
/path_to_mask.tif
/output/
/Files/2018 - DJI P4 Pro/
/Files/2017 - DJI Inspire 1/
/Files/2023 - DJI M3M/
/Files/UCDB/
